.Title-1 {
	font-size: 3rem;
	font-family: 'Raleway', sans-serif;
}

.Title-2 {
	font-size: 2.6rem;
	font-family: 'Raleway', sans-serif;
}

.Title-3 {
	font-size: 2.2rem;
	font-family: 'Raleway', sans-serif;
}

.Title-4 {
	font-size: 1.8rem;
	font-family: 'Raleway', sans-serif;
}

.Title-5 {
	font-size: 1.4rem;
	font-family: 'Raleway', sans-serif;
}

.Title-6 {
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
}


