@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap&family=Material+Icons');

.flex-center {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.App {
	min-height: 100vh;
}

a {
	text-decoration: none;
}
